<p>Our team has been working on streamlining the digital claims process for a large insurance company in the west and we thought you might be interested in seeing the application.</p>
<p>As mobile devices become more common, customers are documenting their incidents through photos and videos. These file types are turning out to be problematic for traditional content systems.  Box Platform can help you solve these challenges.  As a result, you'll modernize the claims process and connect with a new generation of insurers.</p>
<p>A project like this would take minimal development time since our platform comes with all the core compliance, security, and content APIs. </p>
<p>Do you have some time in the coming weeks to discuss?</p>